.links_wrapper {
  display: flex;
  height: 100%;
  place-content: center;
  place-items: end;
  padding: 1rem;
}

.link_wrapper {
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  place-content: center;
  place-items: center;
  margin-right: 1rem;
  color: #153a46;
}

.link_wrapper:hover {
  background-color: rgba(21, 58, 70, 1);
  color: white;
  scale: 1.1;
}
