.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 10vh;
  background-color: #153a46;
  color: white;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 0.8fr 0.1fr;
  place-items: center;
  place-content: center;
}

.sidebar_button {
  padding: 0.3rem;
  display: flex;
  place-content: center;
  place-items: center;
}
