.socials_wrapper {
  width: 10rem;
  display: flex;
  flex-wrap: nowrap;
  place-content: center;
  place-items: center;
}

.socials_icon {
  flex-grow: 1;
  transition: all 0.1s ease-in-out;
}

.socials_icon:hover {
  scale: 1.2;
}

.socials_icon:active {
  scale: 0.9;
}
