@media (min-width: 768px) {
  .page_wrapper {
    width: 100vw;
    min-height: 75vh;
    display: grid;
    place-content: end;
    place-items: center;
    grid-template-columns: 1fr 2fr;
  }

  .subsection {
    text-align: left;
    display: grid;
    padding-left: 8rem;
    margin-top: 2rem;
  }

  .profile_info {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  .page_wrapper {
    width: 100vw;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
  }
  .subsection {
    text-align: left;
    display: grid;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .profile_info {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }

  .profile_info_heading {
    margin: 2rem 0;
  }
}

.profile_info_body {
  font-size: 1.4rem;
  font-weight: 300;
}

.profile_image_wrapper {
  display: grid;
  place-content: end;
  place-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}
