.wrapper {
  color: #153a46;
  background-color: white;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 8rem;
    width: 100vw;
    min-height: 50vh;
  }

  .sub_wrapper {
    display: grid;
    place-content: center;
    place-items: center;
  }

  h3 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  .sub_section {
    width: 30vw;
    text-align: left;
  }

  .list {
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 100;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2em;
    width: 100vw;
    min-height: 50vh;
  }

  .sub_wrapper {
    display: grid;
    place-content: center;
    place-items: center;
  }

  h3 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  .sub_section {
    padding: 1rem;
    width: 80vw;
    text-align: left;
  }

  .list {
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 100;
  }
}
