.wrapper {
  color: white;
  background-color: #153a46;
}

.subtitle {
  color: white;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 2rem;
    width: 100vw;
    min-height: 100vh;
  }

  .subtitle {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 10rem;
  }

  .sub_section {
    width: 30vw;
    text-align: left;
  }

  .list {
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 100;
  }

  .sub_wrapper {
    margin-top: 5rem;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    scale: 2;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2em;
    width: 100vw;
    min-height: 50vh;
  }

  .sub_section {
    padding: 1rem;
    width: 80vw;
    text-align: left;
  }

  .list {
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 100;
  }

  .sub_wrapper {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
