.wrapper {
  width: 100vw;
  padding: 2rem 0;
  background-color: #153a46;
  color: white;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

@media (max-width: 768px) {
  .wrapper h2 {
    font-size: larger;
  }
}
