.wrapper {
  color: #153a46;
  background-color: white;
  display: grid;
  grid-template-rows: 5fr 1fr;
  place-content: center;
  place-items: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .wrapper {
    width: 100vw;
    min-height: 40vh;
  }

  .logo {
    padding: 2rem;
  }

  .call_to_scroll_down {
    scale: 4;
    margin-bottom: 4rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  .wrapper {
    width: 100vw;
    min-height: 40vh;
    display: grid;
    place-content: center;
    place-items: center;
  }

  .logo {
    width: 50vw;
  }
  .call_to_scroll_down {
    scale: 8;
  }
}

.call_to_scroll_down {
  animation: bob_motion 1s infinite alternate;
}

@keyframes bob_motion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
